* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.gameBody > * {
    border: 1px solid black;
}

.gameBody {
    display: flex;
    height: 100%;
    width: 100%;
}

.gameBody > * {
    height: 99vh;
}

.banner {
    width: 35vw;
}